.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weather {
    display: inline-block;
    align-items: flex-start;
}
iframe {
    border: solid 1px #777;
    width: 790px;
    height: 800px;
}